ul{text-align: center; color: brown; text-decoration: underline}
p{text-align: right; color: blue;}
h2{text-decoration: line-through;}
.right{text-align: right;}
code{text-decoration: solid;}
body{background-color: darkgray;}